@page
@model BugNet.Pages.IndexModel
@{
}
<h1>Welcome Morteza</h1>
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Desc.</td>
            <td>Is Done</td>
            <td>Operation</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BugList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.IsDone</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

